.node {
    position: absolute;
    min-width: 350px; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border: 2px solid #95979c; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;

    // &:hover {
    //     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    //     border-color: #d1d5db;
    // }

    &.selected {
        border-color: #3b82f6;
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4), 0 8px 24px rgba(0, 0, 0, 0.2);
    }
}

.header {
    padding: 12px 16px;
    font-weight: 600;
    font-size: 1rem; // 16px
    color: #111827;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid #f3f4f6; // 매우 옅은 구분선
}

.body {
    padding: 12px 0;
}

// --- IO 섹션 스타일 ---
.ioContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 14px; // 포트 간 세로 간격
    flex-basis: 45%; // 각 컬럼이 차지할 기본 너비
}

.outputColumn {
    align-items: flex-end;

    .portRow {
        justify-content: flex-end;
    }
}

.sectionHeader {
    font-size: 0.8rem; // 11.2px
    font-weight: 700;
    color: #838a94;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 4px;
}

.portRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.portLabel {
    font-size: 0.875rem;
    color: #374151;
}

.port {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #9ca3af;
    border-radius: 50%;
    transition: all 0.2s ease;
    flex-shrink: 0;
    &.snapping {
        border-color: #3b82f6;
        transform: scale(1.1);
        // box-shadow: 0 0 8px rgba(0, 123, 255, 0.7); // 바깥쪽 그림자 효과
    }
    &:hover {
        border-color: #3b82f6;
        transform: scale(1.1);
    }
}

.port.multi {
    border-radius: 4px;
    background-color: #d1d5db;
}

// --- 구분선 및 파라미터 섹션 ---
.divider {
    height: 2px;
    background-color: #a8abb388;
    margin: 16px 0;
}

.paramSection {
    padding: 0 16px;
}

.param {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 10px;
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0;
    }
}

.paramKey {
    color: #6b7280;
}

.paramValue {
    color: #111827;
    font-weight: 500;
    background-color: #f3f4f6;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.8rem;
}